@model Usuario
@{ Layout = "LayoutAdmin";}






    <div class="container text-center mx-auto align-items-center">
        <center>
            <h2 class="col-md-7">Alterar Email</h2>

            @if (TempData["sucesso"] != null)
            {
                <div class="alert alert-success">@TempData["sucesso"]</div>
            }

            @if (TempData["erro"] != null)
            {
                <div class="alert alert-danger">@TempData["erro"]</div>
            }

            @if (Model != null)
            {
                <form method="post" asp-controller="Admin" asp-action="AlterarEmail" class="col-md-7">
                    <input type="hidden" asp-for="ID" />


                    <div class="form-group ">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control p-0" />
                        <span asp-validation-for="Email" class="text-danger small"></span>
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-success mx-auto">Salvar</button>
                    </div>



                </form>
            }
        </center>
    </div>


