@{
    Layout = "LayoutUsuario";
}
@model Usuario;

    @if(TempData["success"] != null)
    {
        <span class="alert alert-success">@TempData["success"]</span>
    }


    <span class="login100-form-title p-b-34 p-t-27">Entrar
    </span>

    <div class="wrap-input100 validate-input" data-validate="Enter username">
        <input class="input100" type="text" asp-for="Email" placeholder="Email">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <div class="wrap-input100 validate-input" data-validate="Enter password">
        <input class="input100" type="password" asp-for="Senha" placeholder="Senha">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>

    @if (ViewBag.Erro != null)
    {
        <div class="alert alert-danger text-center">@ViewBag.Erro</div>
    }

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">Entrar
        </button>
    </div>

    <div class="text-center p-t-90">
        <a class="txt1" asp-action="cadastro">
            Cadastre-se
        </a>
        <br />
        <a class="txt1" asp-action="recuperarsenha">
            Recuperar Senha
        </a>
    </div>
